@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  color: #FFF;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

html,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #010203;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
